<section class="hero is-primary is-small">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <%= link_to root_path, class: "navbar-item" do %>
                    <img src="https://img.icons8.com/offices/344/taco.png" />
                    <span class="has-text-weight-bold is-size-6 ml-4">FoodTracker</span>
                    <% end %>
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <span class="navbar-item">
                            <%= link_to "Create New",new_entry_path, class: "button is-success"  %>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                <% if content_for(:title) %>
                <%= yield :title %>
                <% else %>
                Food Tracker
                <% end %>
            </h1>
        </div>

</section>